/* google font */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #252525;
  --primry-color: #4f2f28; /* Coklat gelap */
  --secondary-color: #e4b295; /* Oranye krem */
  --light-color: #fdf8f8; 
  --medium-gray-color: #ccc;
  --hero-section-bg: #ede0ed; /* Background hero section */

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

p {
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  color: var(--primry-color);
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background-color: var(--secondary-color);
}

/* Navbar styling */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #f8f6f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .nav-logo .logo-text {
  color: var(--primry-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--black-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

.desktop-contact,
.mobile-contact {
  display: none;
}

.contact-btn {
  padding: 10px 25px;
  border: 2px solid #b46745;
  background: transparent;
  color: #000;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-btn:hover {
  background: #b46745;
  color: #fff;
}

.hero-section {
  min-height: 100vh;
  background-color: var(--hero-section-bg);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: black;
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
  box-shadow: inset;
}

.hero-section .hero-details .subtitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  margin-top: 9px;
  max-width: 70%;
}

.hero-section .hero-details .description {
  font-size: var(--font-size-m);
  margin: 20px 0 40px;
  max-width: 70%;
}

.button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.buttons {
  display: flex;
  gap: 23px;
}

.button:hover,
.contact-us {
  background: transparent;
  color: var(--primry-color);
  border-color: var(--primry-color);
}

.contact-us:hover {
  border-color: var(--white-color);
  background: var(--secondary-color);
  color: var(--primry-color);
}

.hero-section .hero-image-wrapper {
  margin-right: 30px;
  width: 100%;
  max-width: none;
}

.hero-image-wrapper img {
  width: 100%;
  height: auto;
}

.hero-section .hero-image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 900px;
  transform: scale(1.2);
}

.transition-section {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgba(255, 255, 255, 0.8) 30%,
  );
}

/** about */
.about-section {
  padding: 120px 0;
  background-color: var(--light-color);
}

.about-section .section-content {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
  width: 500px;
  height: 700px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}

.about-section .about-details {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details .text {
  line-height: 36px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.about-section .social-link-list .social-link {
  color: var(--primry-color);
  font-size: var(--font-size-l);
  transition: color 0.3s ease;
}

.about-section .social-link-list .social-link:hover {
  color: var(--secondary-color);
}

.about-section .social-link-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* Menu */
.info-card {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #fffaf7;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: var(--primry-color);
}

.card-text {
  color: #5b5b5b;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Menu Section */
.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.menu-item img {
  width: 70%;
  height: auto;
  border-radius: var(--border-radius-s);
}

.menu-item{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  background-color: #FBFBFB;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  margin: 1rem;
  border-radius: 16px;
  transition: transform 0.2s ease;
}

.menu-item:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 5 - 5px);
}

.menu-section .menu-list .menu-item .menu-image {
  aspect-ratio: 1;
  max-width: 83%;
}

/** Ipad responsive */
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: var(--white-color);
    transition: left 0.3s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
    display: block;
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar #menu-open-button {
    color: var(--primry-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-m);
  }

  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    color: var(--black-color);
    font-size: var(--font-size-l);
  }

  .hero-section .hero-details .subtitle,
  .hero-section .hero-details .description {
    max-width: 100%;
    margin: auto;
  }

  .hero-section .hero-image-wrapper {
    margin-right: 0;
    margin-top: 30px;
  }

  .hero-section .hero-image-wrapper img {
    transform: scale(1);
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }

  .about-section .section-content {
    flex-direction: column;
    gap: 50px;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    aspect-ratio: 1;
  }
}


/*! Mobile responsive */
@media (max-width: 768px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.1px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero-section {
    padding: 3rem 1rem;
  }

  .hero-section .section-content {
    margin-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .hero-section .hero-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navbar #menu-open-button {
    display: block;
    font-size: var(--font-size-xl);
  }

  .navbar #menu-close-button {
    display: block;
    font-size: var(--font-size-xl);
  }

  .hero-section .hero-details .subtitle,
  .hero-section .hero-details .description {
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
  }

  .hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
  }

  .hero-section .hero-image-wrapper {
    margin-top: 2rem;
    margin-right: 0;
    text-align: center;
  }

  .hero-section .hero-image-wrapper img {
    transform: scale(1);
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .buttons {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-section .hero-details .button {
    width: 80%;
    padding: 12px 20px;
    font-size: var(--font-size-m);
  }
}
