/* google font */
@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #252525;
  --primry-color: #3b141c;
  --secondary-color: #f3961c;
  --light-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

p {
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar styling */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--primry-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--primry-color); /* Corrected from primary-color */
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

.hero-section {
  min-height: 100vh;
  background-color: #1d2e28;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  margin-top: 9px;
  max-width: 70%;
}

.hero-section .hero-details .description {
  font-size: var(--font-size-m);
  margin: 20px 0 40px;
  max-width: 70%;
}

.button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primry-color); /* Corrected from primary-color */
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.buttons {
  display: flex;
  gap: 23px;
}

.button:hover,
.contact-us {
  background: transparent;
  color: var(--white-color);
  border-color: var(--white-color);
}

.contact-us:hover {
  border-color: var(--white-color);
  background: var(--secondary-color);
  color: var(--primry-color); /* Corrected from primary-color */
}

.hero-section .hero-image-wrapper {
  margin-right: 30px;
  width: 100%;
  max-width: none;
}

.hero-image-wrapper img {
  width: 100%;
  height: auto;
}

.hero-section .hero-image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 900px;
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: var(--white-color);
    transition: left 0.3s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
    display: block;
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar #menu-open-button {
    color: var(--white-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-m);
  }

  .navbar .nav-menu .nav-link {
    display: block;
    margin-top: 17px;
    color: var(--black-color);
    font-size: var(--font-size-l);
  }

  .hero-section .hero-details .subtitle,
  .hero-section .hero-details .description {
    max-width: 100%; /* Ensure text uses full width on smaller screens */
    margin: auto; /* Center text */
  }

  .hero-section .hero-image-wrapper {
    margin-right: 0;
    margin-top: 30px;
  }

  .hero-section .hero-image-wrapper img {
    transform: scale(1); /* Reset scale for smaller screens */
    max-width: 70%; /* Adjust image size for better mobile view */
    margin: 0 auto;
    display: block;
  }
}

/*! Mobile responsive */
@media (max-width: 768px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3.1px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero-section {
    padding: 3rem 1rem;
    /* min-height: auto; FIX 1 removed for compatibility */
  }

  .hero-section .section-content {
    margin-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .hero-section .hero-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }


  .navbar #menu-open-button {
    display: block;
    font-size: var(--font-size-xl);
  }

  .navbar #menu-close-button {
    display: block;
    font-size: var(--font-size-xl);
  }

  .hero-section .hero-details .subtitle,
  .hero-section .hero-details .description {
    max-width: 100%; /* FIX 2 */
    margin: auto;
    padding: 0 10px;
  }

  .hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
  }

  .hero-section .hero-image-wrapper {
    margin-top: 2rem;
    margin-right: 0;
    text-align: center;
  }

  .hero-section .hero-image-wrapper img {
    transform: scale(1); /* FIX 3 */
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .buttons {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-section .hero-details .button {
    width: 80%;
    padding: 12px 20px;
    font-size: var(--font-size-m);
  }
}
/* 
@media (max-width: 480px) {
  .hero-section .hero-details .title {
    font-size: var(--font-size-xl);
  }

  .hero-section .hero-details .subtitle {
    font-size: var(--font-size-m);
  }

  .hero-section .hero-details .description {
    font-size: var(--font-size-s);
  }

  .hero-section .hero-details .buttons {
    width: 90%;
  }
  .hero-section .hero-details .button {
    padding: 8px 20px;
  }
} */
